*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
     font-family: "Fredoka", sans-serif; font-weight: 200px;
}

body{
    background: linear-gradient(135deg, rgb(102, 100, 118), rgba(100, 114, 114, 0.63), rgb(94, 94, 106) );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(192, 192, 192);;
    width: 320px;
    height: 410px;
    border-radius: 10px;
    border: solid black 2px;
    
}

select{
    font-size: 20px;
    width: 320px;
    background-color: rgb(192, 192, 192);;
    border: solid black 2px;
    width: 250px;
    text-align: center;
    position: relative;
    left: 15px;
}

label{
    font-size: 30px;
}
input{
    font-size: 25px;
    width: 280px;
    background-color: rgb(192, 192, 192);;
    border: solid black 2px;
    color:rgb(2, 2, 147);
    text-shadow: 0 0 2px ;
}

#botaoenviar{
    width: 280px;
    height: 28px;
    background-color: rgb(192, 192, 192);;
}
#botaoenviar:hover{
    color:rgb(2, 2, 147) ;
    scale: 1.05;
    text-shadow: 0 0 5px;
    
}

#botaolimpar:hover{
    color:rgb(2, 2, 147) ;
    scale: 1.05;
    text-shadow: 0 0 5px;
}

#envoltabotao{
    height: 20px;
}

#botaolimpar{
    width: 280px;
    height: 28px;
    background-color: rgb(192, 192, 192);;
}

h1{
    position: absolute;
    top: 30px;
    font-size: 50px;
    color: rgb(192, 192, 192);;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.419),  
                1px -1px 0 rgba(0, 0, 0, 0.419),
               -1px  1px 0 rgba(0, 0, 0, 0.419),
                4px  4px 0 rgba(0, 0, 0, 0.488);
}

#formulario2{
    background-color: rgba(0, 0, 0, 0.315);
    width: 315px;
    height: 405px;
    border-radius: 10px;
    z-index: -1;
    position: absolute;
    left: 610px;
    top: 170px;
}

#informacao{
    position: absolute;
    left: 280px;
    top: 170px;
    font-size: 30px;
    color: rgb(192, 192, 192);
    text-shadow:  -1px 0 rgba(0, 0, 0, 0.419),  
                1px -1px 0 rgba(0, 0, 0, 0.419),
               -1px  1px 0 rgba(0, 0, 0, 0.419),
                4px  4px 0 rgba(0, 0, 0, 0.488);
}

p{
    font-size: 18px;
    position: absolute;
    left: 280px;
    top: 220px;
    color: rgb(192, 192, 192);
    text-shadow:  -1px 0 rgba(0, 0, 0, 0.419),  
                1px -1px 0 rgba(0, 0, 0, 0.419),
               -1px  1px 0 rgba(0, 0, 0, 0.419),
                2px  2px 0 rgba(0, 0, 0, 0.488);
}

#informacao2{
    position: absolute;
    left: 470px;
    top: 172px;
    font-size: 30px;
    color: rgb(2, 2, 147);
    text-shadow:  -1px -1px rgb(0, 0, 0),  
                1px -1px 0 rgb(0, 0, 0),
               -1px  1px 0 rgb(0, 0, 0),
                2px  2px 0 rgb(0, 0, 0),
}



#botao9{
    width: 220px;
    height: 30px;
    border-radius: 8px;
    position: absolute;
    top:300px;
    left: 278px;
    font-size: 15px;
    background-color: rgb(192, 192, 192);;
}

#botao9:hover{
    color: rgb(2, 2, 147);
    scale: 1.1;
    text-shadow: 0 0 2px blue;
}

#jurostitulo{
    color: rgb(2, 2, 147);
    text-shadow: 0 0 3px black;
}

#resultado{
    display: flex;
    flex-direction: column;
    background-color: rgb(192, 192, 192);;
    width: 220px;
    height: 120px;
    border-radius: 10px;
    border: solid black 2px;
    position: absolute;
    right: 350px;
    top: 160px;
}

#resultado2{
    background-color: rgba(0, 0, 0, 0.219);;
    width: 220px;
    height: 125px;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    z-index: -1;
}

.jurosresul{
    position: relative;
    top: 10px;
     padding-left: 10px;
}

.montanteresul{
    position: relative;
    top: 20px;
    padding-left: 10px;
}

#titulinho2{
    position: relative;
    left: 55px;
}

#jurostado{
    position: absolute;
    top: 0px;
    right: 65px;
    color: rgb(2, 2, 147);
    text-shadow: 0 0 1px;
    width: 90px;
}

#montado{
    position: absolute;
    top: 0px;
    right: 30px;
    color: rgb(2, 2, 147);
    text-shadow: 0 0 1px;
    width: 90px;
}